/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

.hero-image {
  position: absolute; // Positioned absolutely relative to its first positioned ancestor
  top: 0; // Align to the top of the viewport.
  left: 0; // Align to the left of the viewport.
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; // Lower z-index to ensure content flows over it

  img {
    height: 100vh;
    width: auto;
    object-fit: cover;
    object-position: center;
    max-width: none; // Allow the image to exceed its natural width

    @media (min-aspect-ratio: 16/9) {
      width: 100vw;
      height: auto;
    }
  }

  .hero-headline,
  .hero-tagline {
    position: absolute;
    color: white;
    // font-weight: bold;
    z-index: 2; // Ensure text appears over the image
    // background-color: rgba($purple-color, 0.5); // Add a semi-transparent background to improve readability
    // padding: 0.0em 0.3em; // Add padding to the text
    // border-radius: 0.05em;
    
    &.hero-headline {
      top: 10%;
      font-size: 4em;
      left: 5%;
      text-align: left;
    }
    
    &.hero-tagline {
      bottom: 2.5%;
      font-size: 2em;
      text-align: right;
      right: 5%;
      // font-weight: bold;
    }
  }
}

// Adjust the padding-top of the main content container to ensure it starts after the hero image
.main-content {
  padding-top: 100vh; // This should be equal to the height of the hero image
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
